.logo{
  max-width:8rem;
  max-height:8rem;
}

nav{
  margin-top: 1rem;
}

header{
  background-image: linear-gradient(to right, rgb(86, 86, 86) , rgb(68, 68, 68));
  display: flex;
  padding: 0,5rem;
}

nav li{
  display: inline;
  margin: 7em;
}

nav a{ 
  text-decoration: none;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  border: solid rgba(89, 89, 89, 0);
  background: rgba(247, 247, 247, 0);
  transition: 1s;
}

nav a:hover{ 
  font-size: 1.5rem;
  color: rgb(234, 230, 230);
  border: solid rgba(94, 94, 94, 0);
  background: rgba(255, 255, 255, 0); 
}

footer{
  text-align: center;
  background-image: linear-gradient(to right, rgb(86, 86, 86) , rgb(68, 68, 68));
  font-size: 1rem;
  color: rgb(255, 255, 255);
}

main{
  text-align: justify;
  background-color: rgb(113, 113, 113);
  margin: 1.2rem;
  padding: 1rem;
}

.p1{
  width: 15%;
  float: left;
  margin: 1rem;
}

